# ===== Unity folders =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# ===== Unity build output =====
*_Data/
*.exe
*.app
*.apk
*.aab

# ===== Custom build folder =====
mmm/

# ===== IDE / Editor =====
.vscode/
.vs/

# ===== Project files (optional) =====
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ===== OS junk =====
sysinfo.txt
.DS_Store
